**/bin/
**/bintest/
**/build/
**/buildtest/
**/lib/*.jar
**/test/report
**/parsergen/
**/javadoc/
**/.vscode

**/plugins/dataimport/io/tcx/
**/includes/neptune/
**/plugins/ohe/parser/
**/plugins/routes/xml/
**/jacoco.exec

*/MANIFEST*
*~
